# ----- Ignore everything
/*

# ----- Files to ignore
*.lock
*.ppr
*.json

# ----- Folders to ignore
#/vendor

# ----- Files to accept
!README.md
!LICENSE
!.gitignore

# ----- Folders to add
!/class
!/sample
!/doc
